In [4]:
import requests
import pandas as pd
import os

API_KEY = os.environ.get('BEA_API_KEY')

In [30]:
url = 'https://apps.bea.gov/api/data'

def fetch_bea_data(params):
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Failed to retrieve data: {response.status_code}")
        return None

In [15]:

params = {
    'UserID': api_key,
    'method': 'GetData',
    'datasetname': 'NIPA',  # National Income and Product Accounts
    'TableName': 'T10101',  # Table for Gross Domestic Product
    'Frequency': 'Q',       # Quarterly data
    'Year': 'ALL',          # All years
    'ResultFormat': 'json'  # Response format
}

gdp_df = fetch_bea_data(params)

In [17]:
gdp_df.tail()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
7695,T10101,A191RP,27,"Gross domestic product, current dollars",2023Q1,Current Dollars,"Percent change, annual rate",0,6.3,T10101
7696,T10101,A191RP,27,"Gross domestic product, current dollars",2023Q2,Current Dollars,"Percent change, annual rate",0,3.8,T10101
7697,T10101,A191RP,27,"Gross domestic product, current dollars",2023Q3,Current Dollars,"Percent change, annual rate",0,8.3,T10101
7698,T10101,A191RP,27,"Gross domestic product, current dollars",2023Q4,Current Dollars,"Percent change, annual rate",0,5.1,T10101
7699,T10101,A191RP,27,"Gross domestic product, current dollars",2024Q1,Current Dollars,"Percent change, annual rate",0,4.8,T10101

In [10]:
params = {
    'UserID': api_key,
    'method': 'GetData',
    'datasetname': 'PI',  # Personal Income and Outlays
    'TableName': 'PI1',  # Table for Personal Income
    'Frequency': 'M',    # Monthly data
    'Year': 'ALL',       # All years
    'ResultFormat': 'json'  # Response format
}

# Make the request to the BEA API
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()

In [11]:
data

{'BEAAPI': {'Request': {'RequestParam': [{'ParameterName': 'USERID',
     'ParameterValue': '169E8F73-B735-4611-B265-0B19F00B732D'},
    {'ParameterName': 'METHOD', 'ParameterValue': 'GETDATA'},
    {'ParameterName': 'DATASETNAME', 'ParameterValue': 'PI'},
    {'ParameterName': 'TABLENAME', 'ParameterValue': 'PI1'},
    {'ParameterName': 'FREQUENCY', 'ParameterValue': 'M'},
    {'ParameterName': 'YEAR', 'ParameterValue': 'ALL'},
    {'ParameterName': 'RESULTFORMAT', 'ParameterValue': 'JSON'}]},
  'Results': {'Error': {'APIErrorCode': '20',
    'APIErrorDescription': 'The Dataset requested does not exist.'}}}}

In [48]:
params_corporate_profits = {
    'UserID': api_key,
    'method': 'GetData',
    'datasetname': 'GDPbyIndustry',  # National Income and Product Accounts
    'TableID': 'ALL',
    'Frequency': 'Q',       # Quarterly data
    'Year': 'ALL',          # All years
    'Industry': '11',      # All industries
    'ResultFormat': 'json'  # Response format
}

agr_data = fetch_bea_data(params_corporate_profits)

In [50]:
agr_data_df = pd.DataFrame(agr_data['BEAAPI']['Results'][0]['Data'])
agr_data_df

,TableID,Frequency,Year,Quarter,Industry,IndustrYDescription,DataValue,NoteRef
0,1,Q,2018,I,11,"Agriculture, forestry, fishing, and hunting",179.3,1
1,1,Q,2018,II,11,"Agriculture, forestry, fishing, and hunting",183.5,1
2,1,Q,2018,III,11,"Agriculture, forestry, fishing, and hunting",172.4,1
3,1,Q,2018,IV,11,"Agriculture, forestry, fishing, and hunting",173.3,1
4,1,Q,2019,I,11,"Agriculture, forestry, fishing, and hunting",159.4,1
...,...,...,...,...,...,...,...,...
491,209,Q,2022,IV,11,"Agriculture, forestry, fishing, and hunting",264.2,209
492,209,Q,2023,I,11,"Agriculture, forestry, fishing, and hunting",265.1,209
493,209,Q,2023,II,11,"Agriculture, forestry, fishing, and hunting",262.3,209
494,209,Q,2023,III,11,"Agriculture, forestry, fishing, and hunting",263.7,209
495,209,Q,2023,IV,11,"Agriculture, forestry, fishing, and hunting",263.6,209

In [72]:
url = f"http://www.bea.gov/api/data/?&amp;UserID=%20{api_key}%20Y&amp;method=GetParameterValues&amp;DataSetName=GDPbyIndustry&amp;ParameterName=Industry&amp;ResultFormat=json"
response = requests.get(url)

In [74]:
response.json()

{'BEAAPI': {'Request': {'RequestParam': [{'@ParameterName': 'CorrelationID',
     '@ParameterValue': 'ecf60d82-7b3d-4830-abb9-71aa27ba57bb'},
    {'@ParameterName': 'RESULTFORMAT', '@ParameterValue': 'JSON'}]},
  'Results': {'Error': {'@APIErrorCode': '1',
    '@APIErrorDescription': 'Invalid Request - Invalid API UserId.'}}}}